<div id="counterPage" class="flex">
  <div id="lateralMenu">
    <p>Hola mundo!!! como va!!!</p>
    <p>Aquí irá nuestro componente de menú lateral</p>
  </div>
  <div id="counterDetail">
    <div class="playerInfo flex" *ngFor="let player of players">
      <ion-icon name="arrow-up" (click)="updateLife(player, 5)"></ion-icon>
      <ion-icon name="arrow-up" (click)="updateLife(player, 1)"></ion-icon>
      <div class="flex life" [ngClass]="{'super': player.life >= 16, 'toDie': player.life > 5 && player.life <= 10, 'died': player.life <= 5}">{{ player.life }}</div>
      <ion-icon name="arrow-down" (click)="updateLife(player, -1)"></ion-icon>
      <ion-icon name="arrow-down" (click)="updateLife(player, -5)"></ion-icon>
    </div>
  </div>
</div>