:host {
    display: flex;
    flex: 1;
}

#counterPage {
    display: flex;
    flex: 1;
    flex-direction: row;
    
    #lateralMenu {
        width: 5em;
        flex-direction: column;
    }
    #counterDetail {
        display: flex;
        flex: 1;
        flex-direction: column;

        .playerInfo {
            display: flex;
            flex: 1;
            flex-direction: column;
            font-size: 3em;
            align-items: center;
    
            svg {
                cursor: pointer;
                display: flex;
                flex: 1;
                flex-direction: column;
                text-align: center;
                align-items: center;
                width: auto;
                height: auto;

                &.down {
                    transform: rotate(180deg);
                }
            }
        }
    }
}



.life {
    color: orange;

    &.toDie {
        color: yellow;
    }
    &.died {
        color: red;
    }
    &.super {
        color: green;
    }
}



