#counter {
    display: flex;
    flex: 1;
    flex-direction: column;
}

:host {
    display: flex;
    flex: 1;
}

#counter .playerInfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 3em;
    text-align: center;
}

#counter .playerInfo i {
    cursor: pointer;
}

.life {
    color: orange;
}

.life.toDie {
    color: yellow;
}
.life.died {
    color: red;
}
.life.super {
    color: green;
}



