:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main {
    /* Variables */
    --background: #222222;
    --white: #ffffff;
    --primary: #e94c13;
    --secondary: #cacaca;
    --error: #DC143C;
    --warning: #FF8C00;

    display: flex;
    flex: 1;

    background-color: var(--background);
    color: var(--primary);
}