/* You can add global styles to this file, and also import other style files */
// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: "Open Sans", "Arial";
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.3;
}

body app-root {
    display: flex;
    flex: 1;
}